!!! 5
%html
  %head
    %title gifMark!
    = stylesheet_link_tag    :application, media: :all
    = javascript_include_tag :application 
    = csrf_meta_tags
  %body
    %header
      = render "shared/topnav"
      = render "gifs/search" if home?
    .container
      .main
        = yield
      .sidebar( data-spy="affix" data-offset-top="240" )
        #tag_cloud
          - tag_cloud Gif.tag_counts, %w[small medium large xlarge] do |tag, css_class| 
            = link_to tag.name, tag_path(tag.name), class: css_class
    %footer
      %p.align-center
        Copyright 
        = Time.now.year
        &copy; 3zcurdia